.main-app {
    background: black url(image/background.jpg) no-repeat center center;
    background-size: cover;
    width: 1340px;
    height:99%;
    border: 1px solid black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

.grid-container {
    display: inline-grid;
    margin-left: 16%;
    grid-template-columns: auto auto auto;
}

.button1 {
    overflow: auto;
    margin-left: -200px;
    margin-top: 47px;
    float: left;
    width: 230px;
    background: url("image/WASD keyboard.png") no-repeat center center;
    background-size: 200px;
}

.button2 {
    overflow: auto;
    margin-left: 850px;
    margin-top: 47px;
    float: left;
    height: 200px;
    width: 230px;
    background: url("image/IJKL keyboard.png") no-repeat center center;
    background-size: 200px;
}

#gameScreen {
    width:800px;
    position: fixed;
    margin-left: 4%;
    margin-top: 1%;
}


#wrap{
    margin-top: 1%;
    width:800px;
    height:550px;
    background: black url(image/background_rooftop.jpg) no-repeat;
    background-size: cover;
    position:fixed;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#player1{
    float:left;
    margin-top:200px;
    width:168px;
    height:200px;
    background-color:transparent;
    background-image:url(image/player.png);
}

#player2{
    float:right;
    position:relative;
    margin-top:200px;
    width:168px;
    height:200px;
    background-color:transparent;
    background-image:url(image/enemy.png);
}

#p1, #p2{
    margin-left:20px;
    margin-right:20px;
}
.life{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #e93100;
    height:15px;
}
.life_bar{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height:15px;
    width:300px;
    border: 1px solid black;
}

.energy{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color:#318CE7;
    height:10px;
}
.energy_bar{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height:10px;
    width:300px;
    border: 1px solid black;
}


