@font-face {
    font-family: karma;
    src: url(font/karma_future.ttf);
}

@font-face {
    font-family: pixel;
    src: url(font/Pixel.ttf);
}

body{
    margin: 0 0;
    padding: 0 0;
    overflow:hidden;
    border:none;
}

.main-app {
    background: black url(image/background_fighter.jpg) no-repeat center center;
    background-size: cover;
    width: 1500px;
    height:99%;
    border: 1px solid black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

.grid-container {
    display: inline-grid;
    margin-left: 16%;
    grid-template-columns: auto auto auto;
}

.button1 {
    overflow: auto;
    margin-left: -200px;
    margin-top: 47px;
    float: left;
    width: 230px;
    height: 420px;
    background-size: 200px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 1px solid black;
    border-radius: 4px;
}

.table1 , .table2 {
    padding-left: 60px;
}

.button2 {
    overflow: auto;
    margin-left: 850px;
    margin-top: 47px;
    float: left;
    width: 230px;
    height: 420px;
    background-size: 200px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 1px solid black;
    border-radius: 4px;
}

.alphaBut{
    margin-left: -80px;
    font-weight: bolder;
}

#gameScreen {
    width:800px;
    position: fixed;
    margin-left: 4%;
    margin-top: 1%;
    padding-bottom: 2%;
    background-color: rgba(180, 202, 218, 0.62);
    border: 1px solid black;
    border-radius: 4px;
}


#wrap{
    margin-top: 1%;
    margin-left: -1px;
    width:800px;
    height:500px;
    background: black url(image/background_rooftop.jpg) no-repeat;
    background-size: cover;
    position:fixed;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#player1{
    float:left;
    margin-top:200px;
    width:168px;
    height:200px;
    background-color:transparent;
    background-image:url(image/player1.png);
}

#player2{
    float:right;
    position:relative;
    margin-top:200px;
    width:168px;
    height:200px;
    background-color:transparent;
    background-image:url(image/player2.png);
}

#p1, #p2{
    margin-left:20px;
    margin-right:20px;
}
.life{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #1de900;
    height:20px;
}
.life_bar{
    margin-top: -1%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height:20px;
    width:300px;
    border: 1px solid black;
}

.energy{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #e7ac09;
    height:10px;
}
.energy_bar{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height:10px;
    width:300px;
    border: 1px solid black;
}

#player01_name, #player02_name {
    margin-bottom: 1%;
    padding: 1%;
    height:20px;
    width:100px;
    border: 1px solid black;
    background-color: rgba(242, 255, 250, 0.65);
    text-align: center;
    font-weight: bold;
}

#player01_name {
    margin-left: 1%;
}

#player02_name {
    margin-right: 1%;
}

.name {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #1de900;
    height:15px;
    margin-top: 1%;
}

/** Overlay **/
.overlay{
    position:fixed;
    height:100vh;
    width:100%;
    z-index:10;
    text-align:center;
    font-family: karma, serif;
    color:white;

    -webkit-transition: opacity 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: opacity 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: opacity 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: opacity 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

    background: -webkit-radial-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 1%,rgba(0,0,0,0.9) 36%,rgba(0,0,0,0.9) 100%);
}

#playgame{
    font-size:6rem;
    margin-top:20vh;
}

#gameresult {
    font-size: 2rem;
    margin-top: 8vh;
}

#again{
    margin-top: 5vh;
    font-size: 1rem;
}

#clickable{
    font-size: 1rem;
    color:white;
    text-shadow:2px 2px 2px #FF7899;
    cursor:pointer;
}

#clickable:hover{
    text-shadow:2px 2px 2px red;
}

#clickable:active{
    color:#C9C9C9;
    text-shadow:2px 2px 2px #FF7899;
}

